@font-face {
    font-family: 'Gill Sans';
    src: url('GillSans.eot');
    src: url('GillSans.eot?#iefix') format('embedded-opentype'),
        url('GillSans.woff2') format('woff2'),
        url('GillSans.woff') format('woff'),
        url('GillSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

